---
---

@font-face {
  font-family: 'CardenioModernBold';
  src: url('../static/ressources/fonts/Cardenio-Modern-Bold/CardenioModernBold.ttf');
}

// colors palette from: https://www.canva.com/colors/color-palettes/water-foam/
$rose-1: #f9f1f0;
$rose-2: #FADCD9;
$rose-3: #F8AFA6;
$rose-4: #F79489;
$peach:  #FBE7C6;

$img-width: 400px;
$img-height: 220px;

* {
  padding: 0;
  margin: 0;
  font-family: CardenioModernBold,Asans-serif;
  color: rgba(0,0,0,.6);
  // text-shadow: 1px 1px 1px black, -1px -1px 10px black;
  transition: all 0.3s ease-in-out;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
  padding: 4rem 0 1rem 0;
}
a {
  text-decoration: underline;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.clickable {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.title {
  display: grid;
  place-items: center;
  padding: 1rem 1rem 5rem 1rem;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  &.column {
    flex-direction: column;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.align-start {
    align-items: flex-start;
  }
  &.justify-start {
    justify-content: flex-start;
  }
  .flex-grow {
    flex-grow: 1;
  }
}

.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  cursor: zoom-out;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.carousel {
  position: relative;
  margin: 1rem 0;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: $img-width;
  height: $img-height;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  .img-container {
    width: 300%;
    display: flex;
    justify-content: space-between;
    .image {
      width: $img-width;
      background-color: black;
      display: flex;
      justify-content: center;
      cursor: zoom-in;
    }
  }
  .button-container {
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: zoom-in;
    .button {
      opacity: 0;
      cursor: pointer;
      width: 3rem;
      height: 3rem;
      border-width: 3px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: ease 0.5s;
      .button-inner {
        transition: ease 0.5s;
        width: 60%;
        height: 60%;
        border: 5px solid $rose-2;
        border-style: none none solid solid;
        position: relative;
      }
      &:hover {
        background-color: $rose-2;
        .button-inner {
          border-color: black;
        }
      }
    }
    &.left {
      left: 0;
      .button {
        border-radius: 0 20% 20% 0;
        .button-inner {
          translate: 25%;
          rotate: 45deg;
        }
      }
    }
    &.right {
      right: 0;
      .button {
        border-radius: 20% 0 0 20%;

        .button-inner {
          translate: -25%;
          rotate: 225deg;
        }
      }
    }
  }
  &:hover {
    .button-container .button {
      opacity: 1;
    }
  }
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer, header {
  padding: 2rem;
  background-color: $rose-3;
}

main {
  padding: 2rem 10rem;
  background-color: $peach;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px;
  background-color: $rose-2;
  padding: 2rem;
  border-radius: 1rem;
}

.section {
  gap: 2rem;
}
